*{
  padding: 0;
  margin: 0;
}
.login-page{
  background-color: aqua;
  height: 100vh;
}
@media only screen and (min-width:768px){
  .chatbot-div{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } 
  .login-div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media only screen and (max-width:768px){
  .chatbot-div{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  .login-div{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.chatbot-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 3rem;
  font-weight: bolder;
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.login-form{
  min-height: 200px;
  border-radius: 10px;
  background-color: white;
}
.link{
  text-decoration: none;
}
.form-error{
  color: red;
}
.login-btn{
  width: 70%;
}
.navbar{
  background-color: aqua;
}
.navbar-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.navbar-text{
  width: 100px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-chatbot{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.col1{
  height: 577px;
}
.chatlist-input{
  border: none;
  width: 90%;
  border-bottom: 1px solid grey;
  padding: 5px 0;
}
.chatlist-div{
  height: 530px;
  overflow-y: scroll;
}
.chatlist-div-drop{
  height: 526px;
  overflow-y: scroll;
  display: none;
}
.chatlist-div-drop:hover{
  display: block;
}
.chatlist-img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.chatlist:hover{
  background-color: #ebe9e9;
  cursor: pointer;
}
.conv-title-div{
  height: 70px;
  background-color: grey;
}
.conversation-div{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 590px;
}
.conv{
  min-width: 25%;
  max-width: 80%;
  background-color: #98ee90;
  min-height: 20px;
  display: inline-block;
  border-radius: 10px;
}
.self{
  min-width: 25%;
  max-width: 80%;
  background-color: #dadadd;
  min-height: 20px;
  display: inline-block;
  float: right;
  border-radius: 10px;
}
.con-time{
  float: right;
  font-size: small;
}
.eli{
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conv-div{
  height: 420px;
  overflow-y: scroll;  
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* .conv-main-div{
  height: 100vh;
} */
.text-area{
  border: 1px solid rgb(152, 121, 240);
  width: 60%;
  min-height: 80px;
}
.send-btn{
  height: 30px;
  width: 50px;
  border-radius: 10px;
  background-color: #6757f1;
  color: white;
  text-align: center;
  cursor: pointer;
}
.onlinelist-div{
  height: 529px;
  overflow-y: scroll;
}
.online-div:hover{
 background-color: #ebe9e9;
 cursor: pointer;
}
.online-img-div{
  position: relative;
}
.online-mark{
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: greenyellow;
  top: 0px;
  left: 30px;
}
.chatlist-input-div{
  position: relative;
}
.x-mark{
  position: absolute;
  top: 6px;
  right: 40px;
  color: blue;
  padding: 0 4px;
}
.x-mark:hover{
  background-color: #dfdddd;
  cursor: pointer;
}
.chat-error{
  color: red;
  font-size: small;
}
.nav-icon{
  position: relative;
  width: fit-content;
  border-radius: 50%;
}
.nav-icon:hover{
  cursor: pointer;
}
.logout-div{
  position: absolute;
  font-size: small;
  border: 1px solid black;
  top: 60px;
  right: -5px;
  display: none;
}
.nav-icon:hover .logout-div{
  display: block;
}
.no-chat{
  font-size: 3rem;
}
.no-chatlist{
  font-size: 1.5rem;
}
.chat-date{
  border-radius: 10px;
  background-color: #c0bebe;
}
.topbar{
  height: 50px;
  background-color: #f19ec8;
}
.top-link{
  text-decoration: none;
}
.top-link:hover{
  color: black;
}

.sm-view{
  display: none;
}
.lg-view{
  display: none;
}
@media only screen and (max-width : 768px){
   .sm-view{
    display: block;
   }
}
@media only screen and (min-width : 769px){
  .lg-view{
   display: block;
  }
}
@media only screen and (min-width : 300px) and (max-width : 768px){
  .x-mark{
    right: 80px;
  }
}
